<div>
<div class="outerContainer">
  <footer>
    <div class="intermediaryContainer">
      <div class="container">
        <div class="primaryContent">
          <div class="rowsponsive" style="gap: 20px">
            <div class="column" style="gap: 8px; margin-right: 20px">
              <h3>Citizens Organized</h3>
              <a href="/about" class="textlink">About us</a>
              <a href="/mission" class="textlink">Our cause</a>
              <a href="/legal/terms" class="textlink">Terms of use</a>
              <a href="/legal/privacy" class="textlink">Privacy policy</a>
              <a href="mailto:info@citizensorganized.com" class="textlink">Contact us</a>
            </div>
            <div class="column" style="gap: 8px; margin-right: 20px">
              <h3>The Democratic Party</h3>
              <a href="https://democrats.org/who-we-are/" class="textlink"
                >About</a
              >
              <a
                href="https://democrats.org/who-we-are/leadership-2-2/"
                class="textlink"
                >Leadership</a
              >
              <a
                href="https://democrats.org/where-we-stand/issues-2024/"
                class="textlink"
                >Stance on issues</a
              >
              <a
                href="https://secure.actblue.com/donate/web-donate"
                class="textlink"
                >Donate</a
              >
            </div>
            <div class="column" style="gap: 8px; margin-right: 20px">
              <h3>The United States</h3>
              <a href="https://whitehouse.gov" class="textlink"
                >whitehouse.gov</a
              >
              <a href="https://vote.gov" class="textlink"
                >Register to vote</a
              >
            </div>
          </div>
          <p class="subtext">
            Content on this website is not authorized by any official within
            the United States government, and has not been vetted by any
            candidate or their committee. Content on this website is the
            intellectual property of Citizens Organized, and may not be
            copied, distributed, or modified without the express written
            consent of Citizens Organized. Ideas portrayed are the ideas of
            Citizens Organized and of Citizens Organized only, and are not
            endorsed by contractors, team members, or official bodies.
          </p>
          <p class="subtext" id="copy"></p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script>
  const date = new Date();
  const year = date.getFullYear();
  document.getElementById("copy").innerHTML = `© ${year} Citizens Organized`;
</script>
</div>
