<div class="outerContainer img">
  <div class="intermediaryContainer">
    <div class="container">
      <header class="<%= small ? 'short' : '' %>">
        <nav>
          <a href="/" class="actionButton headerLink">Citizens Organized</a>
          <div class="headerRowTight">
            <a href="/about" class="link">About</a>
            <a href="/mission" class="link">Mission</a>
          </div>
        </nav>
        <div class="titleblock">
          <div class="blueBar top <%= small ? 'mshort' : '' %>"></div>
          <div class="row" style="margin-left: 28px">
            <div class="column">
              <h2>
              <%= subtitle %>
              </h2>
              <h1>
              <%= title %></h1>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
