<!doctype html>
<html lang="en">
  <%- include("includes/head.ejs", {
    title: "Mission"
  }) %>
  <body>
    <%- include("includes/header.ejs", {
      small: true,
      subtitle: "Citizens Organized",
      title: "Mission."
    }) %>

    <!-- /HEADER -->

    <div class="outerContainer">
      <div class="intermediaryContainer">
        <div class="container">
          <section class="primaryContent">
            <p>
              Citizens Organized is dedicated to helping to elect by making
              materials available.
              <a href="/about" class="link">Learn more about us</a>.
            </p>
          </section>
          <section class="storefront">
            <div class="column">
              <p>
                Citizens Organized was founded with a passion for helping to
                secure the future of the United States. We believe that the best
                way to do this is to elect candidates who share our values and
                our vision for the future. We are dedicated to helping to elect
                candidates who will work to make the United States a better
                place for all of its citizens.
                <br /><br />
                We have a simple model: we provide simple yard signs, sold in
                cases of 200, that you can distribute to your friends, family,
                members, followers, etc.
              </p>
            </div>
          </section>
          <div class="blueBar"></div>
        </div>
      </div>
    </div>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
