<!doctype html>
<html lang="en">
  <%- include("includes/head.ejs", {
    title: "Privacy Policy"
  }) %>
  <body>
    <%- include("includes/header.ejs", {
      small: true,
      subtitle: "Citizens Organized",
      title: "Privacy Policy."
    }) %>

    <!-- /HEADER -->

    <div class="outerContainer">
      <div class="intermediaryContainer">
        <div class="container">
          <section class="primaryContent">
            <p>
              Citizens Organized is dedicated to helping to elect by making
              materials available.
              <a href="/about" class="link">Learn more about us</a>.
            </p>
          </section>
          <section class="storefront">
            <div class="column">

              <h2 class="title toc">Privacy Policy</h2>

              <p><strong>Last Updated:</strong> 8/9/2024</p>

              <p>At Citizens Organized, we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and protect your personal information when you use our website.</p>

              <h2 class="title toc">1. Data Collection</h2>

              <p>We collect the following information from our users:</p>
              <ul>
                  <li>Name</li>
                  <li>Email address</li>
                  <li>Mailing address</li>
                  <li>IP address</li>
                  <li>Access time</li>
              </ul>
              <p>We also use third-party services such as <a href="https://analytics.google.com" target="_blank" class="textlink">Google Analytics</a> and <a href="https://stripe.com" target="_blank" class="textlink">Stripe</a>, whose privacy policies are inherited by us.</p>

              <h2 class="title toc">2. Data Usage</h2>

              <p>Your data is retained for legal and analytics purposes. We use the information collected for:</p>
              <ul>
                  <li>Marketing and promotional purposes</li>
                  <li>Website analytics and optimization</li>
                  <li>Processing orders and transactions</li>
              </ul>
              <p>While we do not currently sell customer information, we retain the right to do so in the future.</p>

              <h2 class="title toc">3. Data Sharing</h2>

              <p style="margin-bottom: 0">We share your data with the following third-party services:</p>
              <ul>
                  <li><a href="https://stripe.com" target="_blank" class="textlink">Stripe</a> for payment processing</li>
                  <li><a href="https://analytics.google.com" target="_blank" class="textlink">Google Analytics</a> for website analytics</li>
                  <li><a href="https://www.cloudflare.com" target="_blank" class="textlink">Cloudflare</a> for DNS-level analytics and security</li>
              </ul>

              <h2 class="title toc">4. Data Security</h2>

              <p>All sensitive payment information is securely handled by Stripe. Customer data, including names, emails, and addresses, is encrypted at rest, and HTTPS is used for all network operations. Physical and network security are provided by DigitalOcean and Cloudflare. In the event of a detected data breach, all impacted users will be notified, along with the severity of the breach.</p>

              <h2 class="title toc">5. Cookies and Tracking</h2>

              <p>We use only essential cookies necessary for the functionality of our website and those provided by Google Analytics. These cookies help us improve the user experience and optimize website performance.</p>

              <h2 class="title toc">6. User Rights</h2>

              <p>Users have the right to request the deletion of their personal data. To do so, users should contact us via email at <a href="mailto:info@citizensorganized.com" class="textlink">info@citizensorganized.com</a>.</p>

              <h2 class="title toc">7. Data Retention</h2>

              <p>We retain user data in perpetuity but reserve the right to delete data at our discretion. Users should monitor this Privacy Policy for updates.</p>

              <h2 class="title toc">8. Changes to the Privacy Policy</h2>

              <p>Citizens Organized reserves the right to modify this Privacy Policy at any time. The "Last Updated" date at the top of this page will reflect any changes. By continuing to use the website, you agree to accept any changes made to the policy.</p>

              <h2 class="title toc">9. Contact Information</h2>

              <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:info@citizensorganized.com" class="textlink">info@citizensorganized.com</a>.</p>

            </div>
          </section>
          <div class="blueBar"></div>
        </div>
      </div>
    </div>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
