<!doctype html>
<html lang="en">
  <%- include("includes/head.ejs") %>
  <body>
    <%- include("includes/header.ejs", {
      small: true,
      subtitle: "Citizens Organized",
      title: "Terms of Use."
    }) %>

    <!-- /HEADER -->

    <div class="outerContainer">
      <div class="intermediaryContainer">
        <div class="container">
          <section class="primaryContent">
            <p>
              Citizens Organized is dedicated to helping to elect by making
              materials available.
              <a href="/about" class="link">Learn more about us</a>.
            </p>
          </section>
          <section class="storefront">
            <div class="column">
              <h2 class="title toc">Terms of Use</h2>

              <p><strong>Last Updated:</strong> 8/9/2024</p>

              <p>Welcome to the Citizens Organized website. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions. Please review the following terms carefully. If you do not agree to these terms, you should not use this website.</p>

              <h2 class="title toc">1. Acceptance of Terms</h2>

              <p>By using the Citizens Organized website, you agree to be bound by these Terms of Use, as well as any other policies or guidelines that may be implemented by Citizens Organized. These terms may be updated periodically, and it is your responsibility to review the terms regularly.</p>

              <h2 class="title toc">2. Purpose</h2>

              <p>Citizens Organized operates this e-commerce website to distribute political yard signs. The use of this website is intended solely for lawful purposes related to this function.</p>

              <h2 class="title toc">3. User Accounts and Information</h2>

              <p>Citizens Organized does not require users to create accounts to make purchases. However, we do retain contact and address information provided during transactions. This information is subject to our <a href="#" class="textlink">Privacy Policy</a>.</p>

              <h2 class="title toc">4. Intellectual Property</h2>

              <p>All content on this website, including but not limited to text, graphics, logos, images, and software, is the property of Citizens Organized. Any ideas expressed on the website are those of Citizens Organized, not of individual contractors or team members. You may not use any content or intellectual property from this website without express written consent from Citizens Organized.</p>

              <h2 class="title toc">5. Prohibited Activities</h2>

              <p>You agree not to use this website for any unlawful or prohibited activities. This includes, but is not limited to, the following:</p>
              <ul>
                  <li>Engaging in any activity that could harm, disable, overburden, or impair the website.</li>
                  <li>Attempting to gain unauthorized access to any portion of the website.</li>
                  <li>Using the website for fraudulent purposes.</li>
              </ul>

              <h2 class="title toc">6. Payments</h2>

              <p>All payments for yard signs and related services are processed through Stripe. Citizens Organized accepts credit card and link pay methods only. Payment processing is handled by Stripe, and Citizens Organized does not store or manage your payment information.</p>

              <h2 class="title toc">7. Termination of Access</h2>

              <p>Citizens Organized reserves the right to suspend or terminate your access to the website and its services at any time, for any reason, without notice.</p>

              <h2 class="title toc">8. Dispute Resolution</h2>

              <p>In the event of any dispute, claim, or controversy arising out of or relating to your use of this website, you agree to first attempt to resolve the issue informally by contacting us at <a href="mailto:info@citizensorganized.com" class="textlink">info@citizensorganized.com</a>. If a resolution cannot be reached, you agree to submit to the exclusive jurisdiction of the courts located in Ohio for the resolution of any disputes.</p>

              <h2 class="title toc">9. Liability Disclaimer</h2>

              <p>Citizens Organized makes no representations or warranties about the accuracy, reliability, completeness, or timeliness of the content provided on this website. All signs are printed and shipped by our partner, Patriot Signs. Payment information is securely handled by Stripe, and Citizens Organized holds no liability for issues arising from these services.</p>

              <h2 class="title toc">10. Changes to Terms</h2>

              <p>Citizens Organized reserves the right to modify these Terms of Use at any time. The "Last Updated" date at the top of this page will reflect any changes. We encourage you to review the terms regularly. By continuing to use the website after changes are posted, you agree to accept those changes.</p>

              <h2 class="title toc">11. Governing Law</h2>

              <p>These Terms of Use are governed by the laws of the State of Ohio, without regard to its conflict of law provisions.</p>
            </div>
          </section>
          <div class="blueBar"></div>
        </div>
      </div>
    </div>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
